<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="
    Upload your contact details and receive a free VCF file via email.
    The server collects the info and compiles a vcf file with the latest contacts.
    The compiled VCF file will be sent via email to you and all the contacts included.
    "
    />
    <meta
      name="keywords"
      content="freevcf,ngigijohn,v-card,vcard,vcf,whatsapp status views,VCF,vcf generator"
    />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <script src="./js/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <title>Free Vcf</title>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="#"
        ><img class="logo" src="./images/logo.png" alt="" srcset=""
      /></a>
    </nav>
    <main id="app">
      <div class="wrapper">
        <div class="header-bar text-center">
          <h2>Get VCF files Easy!</h2>
        </div>
        <div class="row">
          <div class="col-md">
            <form class="padding-2" @submit.prevent="createContact">
              <p>
                <label for=""></label>
                <input
                  type="text"
                  placeholder="Peter"
                  minlength="3"
                  v-model="contact.first_name"
                />
              </p>
              <p>
                <label for=""></label>
                <input
                  type="text"
                  minlength="3"
                  placeholder="Wekesa"
                  v-model="contact.last_name"
                />
              </p>
              <p>
                <label for=""></label>
                <input
                  type="email"
                  minlength="6"
                  placeholder="peterwekesa@email.com"
                  v-model="contact.email"
                />
              </p>
              <p>
                <label for=""></label>
                <input
                  type="tel"
                  minlength="10"
                  placeholder="+254 711 000 000"
                  v-model="contact.phone_number"
                />
              </p>
              <input class="button" type="submit" value="Upload" />
            </form>
          </div>
          <div class="col-md">
            <div class="row padding-2">
              <ol class="padding-2">
                <h4>Instructions</h4>
                <li>Input your details as indicated</li>
                <li>
                  The server collects the info and compiles a vcf file with the
                  latest {{limit}}contacts.
                </li>
                <li>
                  The compiled VCF file will be sent via email to you and all
                  the contacts included.
                </li>
                <li>
                  <strong>Note:</strong> You will not need text the contacts to
                  save your number since they receive the same file.
                </li>
                <li>Import the file to save the contacts inside</li>
                <li><strong>Share the website link</strong></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row footer padding-2">
      <div class="col"></div>
      <div class="col text-center">
        <p>created by <a href="http://twitter.com/_ngigijohn">ngigijohn</a></p>
        <div class="flex">
          <img width="48px" src="https://res.cloudinary.com/script-silicon/image/upload/v1658598580/assets/2_tzaam0.png" alt="" />
          <small>Product of Script Silicon Company</small>
        </div>
      </div>
      <div class="col"></div>
    </footer>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            contact: {
              first_name: "",
              last_name: "",
              email: "",
              phone_number: "",
            },
            contacts: [],
          };
        },
        // async mounted() {
        //   await this.getContacts();
        // },
        methods: {
          async getContacts() {
            var response = await fetch("https://freevcf.herokuapp.com/api/contacts/");
            this.contacts = await response.json();
          },
          async createContact() {
            // await this.getContacts();
            await fetch("https://freevcf.herokuapp.com/api/contacts/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(this.contact),
            })
              .then((response) => {
                if(response.status < 400){
                  window.location.href = "https://freevcf.herokuapp.com/success/";
                }else{
                  alert("Please confirm the details you have provided");
                }
              })
              .catch((error) => console.log(error));
            // await this.getContacts();
            this.contact = {};
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
